﻿@model WatchShopV3.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Add";
}

<h2>Add Product</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="Name">Name</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Price">Price</label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Description">Description</label>
		<textarea asp-for="Description" class="form-control"></textarea>
		<span asp-validation-for="Description" class="textdanger"></span>
	</div>

	<div class="form-group">
		<label asp-for="CategoryId">Category</label>
		<select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
	</div>

	<div class="form-group">
		<label asp-for="BrandId">Brand</label>
		<select asp-for="BrandId" asp-items="ViewBag.Brands" class="form-control"></select>
	</div>

	<div class="form-group">
		<label asp-for="StyleId">Style</label>
		<select asp-for="StyleId" asp-items="ViewBag.Styles" class="form-control"></select>
	</div>

	<div class="form-group">
		<label asp-for="ImageUrl">Product Image</label>
		<input type="file" asp-for="ImageUrl" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary btn-animate">Add</button>
</form>
<style>
	.btn-animate {
		transition: transform 0.2s ease-in-out; /* Sử dụng transition cho hiệu ứng mềm mại */
	}

		.btn-animate:hover {
			transform: scale(1.1); /* Phóng to nút lên 110% khi di chuột qua */
		}
</style>