﻿@model IEnumerable<WatchShopV3.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align: center">Product Management</h2>

<form asp-controller="ProductManager" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <!-- Bảng sản phẩm -->
</table>

<p>
    <a asp-action="Add">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Style</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Brand.Name</td>
                <td>@product.Category.Name</td>
                <td>@product.Style.Name</td>
                <td>
                    <a asp-action="Update" asp-route-id="@product.Id" class="edit-link">Edit</a> |
                    <a asp-action="Display" asp-route-id="@product.Id" class="details-link">Details</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id" class="delete-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .edit-link,
    .details-link,
    .delete-link {
        padding: 5px 10px; /* Thêm khoảng cách xung quanh văn bản */
        border-radius: 4px; /* Làm cho các liên kết trở nên bo tròn */
        transition: background-color 0.2s, color 0.2s; /* Thêm hiệu ứng chuyển động */
    }

    .edit-link {
        color: #28a745; /* Màu xanh lá cây cho Edit */
        border: 1px solid #28a745; /* Viền xanh lá cây cho Edit */
    }

    .details-link {
        color: #007bff; /* Màu xanh dương cho Details */
        border: 1px solid #007bff; /* Viền xanh dương cho Details */
    }

    .delete-link {
        color: #dc3545; /* Màu đỏ cho Delete */
        border: 1px solid #dc3545; /* Viền đỏ cho Delete */
    }

        /* Hiệu ứng hover */
        .edit-link:hover,
        .details-link:hover,
        .delete-link:hover {
            text-decoration: underline; /* Gạch chân khi di chuột qua */
            background-color: #f8f9fa; /* Màu nền khi di chuột qua */
            font-weight: bold; /* Tô màu đậm khi di chuột qua */
        }

</style>

<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        var searchTerm = document.getElementById('searchInput').value;
        var searchUrl = '@Url.Action("Search", "ProductManagerController")' + '?searchString=' + encodeURIComponent(searchTerm);

        window.location.href = searchUrl;
    });

</script>