﻿@{
    var NumberOfWatchs = ViewBag.TongSoSanPhamBanDuoc;
}

<table border="1">
    <tr>
        <th>Tổng Số Sản Phẩm Bán Được</th>
    </tr>
    <tr>
        <td>@NumberOfWatchs</td>
    </tr>
</table>
