﻿@model WatchShopV3.Models.Order

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-animate" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="back-to-list-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    .btn-animate {
        transition: transform 0.2s ease-in-out; /* Sử dụng transition cho hiệu ứng mềm mại */
    }

        .btn-animate:hover {
            transform: scale(1.1); /* Phóng to nút lên 110% khi di chuột qua */
        }

    .back-to-list-link {
        text-decoration: none;
        padding: 5px 10px; /* Thêm khoảng cách xung quanh văn bản */
        border: 1px solid #007bff; /* Thêm viền màu xanh dương cho liên kết */
        border-radius: 4px; /* Làm cho viền trở nên bo tròn */
        color: #007bff; /* Màu xanh dương cho văn bản */
        transition: color 0.2s, background-color 0.2s, border-color 0.2s; /* Thêm hiệu ứng mềm mại */
        margin-top: 100px; /* Lùi liên kết xuống dưới 10px */
    }


        .back-to-list-link:hover {
            color: #0056b3; /* Màu xanh dương đậm khi di chuột qua */
            background-color: #f8f9fa; /* Màu nền xám nhạt khi di chuột qua */
            border-color: #0056b3; /* Màu viền xanh dương đậm khi di chuột qua */
        }

</style>
