﻿@model IEnumerable<WatchShopV3.Models.OrderDetail>

<h1>Order Details</h1>

@if (!Model.Any())
{
    <p>No order details found for this order.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderDetail in Model)
            {
                <tr>
                    <td>@orderDetail.Product.Name</td>
                    <td>@orderDetail.Quantity</td>
                    <td>@orderDetail.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
