﻿@model WatchShopV3.Models.Order // Replace YourNamespace.Product with the actual namespace and class name of your Product model

<!-- Your existing HTML content -->

<h2>Order Completed</h2>

<h3>Order Details</h3>
<p>Order ID: @Model.Id</p>
<p>Order Date: @Model.OrderDate</p>
<p>Shipping Address: @Model.ShippingAddress</p>
<p>Note: @Model.Notes</p>


<!-- Your remaining HTML content -->
