﻿@model IEnumerable<WatchShopV3.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center">Order Manager</h2>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                <span>User Name</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                    <a asp-action="Display" asp-route-id="@item.Id" class="details-link">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .details-link,
    .delete-link {
        padding: 5px 10px; 
        border-radius: 4px; 
        transition: background-color 0.2s, color 0.2s; 
    }

    .details-link {
        color: #007bff;
        border: 1px solid #007bff; 
    }

    .delete-link {
        color: #dc3545;
        border: 1px solid #dc3545; 
    }

        .details-link:hover,
        .delete-link:hover {
            text-decoration: underline;
            background-color: #f8f9fa;
            font-weight: bold; 
        }
</style>