﻿@model Order
@{
    Layout = "~/Views/Shared/_LayoutForBuyProduct.cshtml";
}

<style>
    /* Style for the heading */
    h2 {
        font-size: 24px;
        color: #333;
    }

    /* Style for the section headers */
    h3 {
        font-size: 20px;
        color: #555;
        margin-top: 20px;
    }

    /* Style for the paragraph */
    p {
        font-size: 16px;
        color: blue;
    }

    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    /* Style for table headers */
    th {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    /* Style for table cells */
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    /* Style for alternating rows */
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Style for total price section */
    .total-price {
        margin-top: 20px;
        font-size: 18px;
        color: #333;
        font-weight: bold;
    }

</style>
<h2>Order Completed</h2>

<h3>Order Details</h3>
<p>Order ID: @Model.Id</p>
<p>Order Date: @Model.OrderDate</p>
<p>Shipping Address: @Model.ShippingAddress</p>
<p>Note: @Model.Notes</p>
<!-- Display other order details as needed -->

<h3>Ordered Items</h3>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    @foreach (var item in Model.OrderDetails)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td>@(item.Price * item.Quantity)</td>
        </tr>
    }
</table>

<h3>Total Price: @Model.TotalPrice</h3>

<a asp-controller="Product" asp-action="Index" class="btn btn-primary">Xem danh sách sản phẩm</a>

