﻿<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Ogani Template">
	<meta name="keywords" content="Ogani, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ogani | Template</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="~/WatchShopSource/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/style.css" type="text/css">


</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a href="#"><img src="~/WatchShopSource/img/logo.png" alt=""></a>
		</div>
		<div class="humberger__menu__cart">
			<ul>
				<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
				<li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
			</ul>
			<div class="header__cart__price">item: <span>$150.00</span></div>
		</div>
		<div class="humberger__menu__widget">
			<div class="header__top__right__language">
				<img src="~/WatchShopSource/img/language.png" alt="">
				<div>English</div>
				<span class="arrow_carrot-down"></span>
				<ul>
					<li><a href="#">Spanis</a></li>
					<li><a href="#">English</a></li>
				</ul>
			</div>
			<div class="header__top__right__auth">
				<a href="#"><i class="fa fa-user"></i> Login</a>
			</div>
		</div>
		<nav class="humberger__menu__nav mobile-menu">
			<ul>
				<li class="active"><a href="./index.html">Home</a></li>
				<li><a href="./shop-grid.html">Shop</a></li>
				<li>
					<a href="#">Pages</a>
					<ul class="header__menu__dropdown">
						<li><a href="./shop-details.html">Shop Details</a></li>
						<li><a href="./shoping-cart.html">Shoping Cart</a></li>
						<li><a href="./checkout.html">Check Out</a></li>
						<li><a href="./blog-details.html">Blog Details</a></li>
					</ul>
				</li>
				<li><a href="./blog.html">Blog</a></li>
				<li><a href="./contact.html">Contact</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<div class="header__top__right__social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-pinterest-p"></i></a>
		</div>
		<div class="humberger__menu__contact">
			<ul>
				<li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
				<li>Free Shipping for all Order of $99</li>
			</ul>
		</div>
	</div>
	<!-- Humberger End -->
	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li>Thời gian luôn quý giá - Đồng hồ của bạn cũng nên vậy.</li>
								<li>Welcome to Watch Store</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="header__top__right">
							<div class="header__top__right__social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a asp-area="Admin" asp-controller="ProductManager" asp-action="Index"><i class="fa fa-tachometer" style="margin-right: 6px"></i> Admin Dashboard</a>
							</div>

							<div class="header__top__right__auth">
								<partial name="_LoginPartial" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a asp-controller="Product" asp-action="Index"><img src="~/WatchShopSource/img/WatchShop.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<nav class="header__menu">
						<ul style="display:flex; justify-content: center">
							<li class="active"><a href="./index.html">Home</a></li>
							<li><a href="./blog.html">Blog</a></li>
							<li><a href="./contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<div class="header__cart">
						<ul>
							<li><a asp-controller="ShoppingCart" asp-action="Index"><i class="fa fa-shopping-bag"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->
	<!-- Featured Section Begin -->
	@RenderBody()

	<!-- Featured Section End -->
	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="footer__about text-center">
						<ul>
							<li>Address: Hutech E</li>
							<li>Phone: +84858047257</li>
							<li>Email: nguyenthaihoc@gmail.com</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="footer__copyright">
						<div class="footer__copyright__text">
							<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
						<div class="footer__copyright__payment"><img src="~/WatchShopSource/img/payment-item.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
	<!-- Js Plugins -->
	<script src="~/WatchShopSource/js/jquery-3.3.1.min.js"></script>
	<script src="~/WatchShopSource/js/bootstrap.min.js"></script>
	<script src="~/WatchShopSource/js/jquery.nice-select.min.js"></script>
	<script src="~/WatchShopSource/js/jquery-ui.min.js"></script>
	<script src="~/WatchShopSource/js/jquery.slicknav.js"></script>
	<script src="~/WatchShopSource/js/mixitup.min.js"></script>
	<script src="~/WatchShopSource/js/owl.carousel.min.js"></script>
	<script src="~/WatchShopSource/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)


</body>

</html>

