﻿<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Ogani Template">
	<meta name="keywords" content="Ogani, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ogani | Template</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="~/WatchShopSource/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="~/WatchShopSource/css/style.css" type="text/css">


</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	
	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li><i class="fa fa-envelope"></i>Thời gian luôn quý giá - Đồng hồ của bạn nên cũng vậy.</li>
								<li>Welcome to Watch Store</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="header__top__right">
							<div class="header__top__right__social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a asp-area="Admin" asp-controller="ProductManager" asp-action="Index"><i class="fa fa-tachometer" style="margin-right: 6px"></i> Admin Dashboard</a>
							</div>

							<div class="header__top__right__auth">
								<partial name="_LoginPartial" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin-top: 80px; margin-bottom: 200px">
			@RenderBody()
		</div>
	</header>
	<!-- Header Section End -->
	<!-- Featured Section Begin -->
	

	<!-- Featured Section End -->
	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="footer__about text-center">
						<ul>
							<li>Address: 60-49 Road 11378 New York</li>
							<li>Phone: +65 11.188.888</li>
							<li>Email: hello@colorlib.com</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="footer__copyright">
						<div class="footer__copyright__text">
							<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
						<div class="footer__copyright__payment"><img src="~/WatchShopSource/img/payment-item.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
	<!-- Js Plugins -->
	<script src="~/WatchShopSource/js/jquery-3.3.1.min.js"></script>
	<script src="~/WatchShopSource/js/bootstrap.min.js"></script>
	<script src="~/WatchShopSource/js/jquery.nice-select.min.js"></script>
	<script src="~/WatchShopSource/js/jquery-ui.min.js"></script>
	<script src="~/WatchShopSource/js/jquery.slicknav.js"></script>
	<script src="~/WatchShopSource/js/mixitup.min.js"></script>
	<script src="~/WatchShopSource/js/owl.carousel.min.js"></script>
	<script src="~/WatchShopSource/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)


</body>

</html>

