﻿@model WatchShopV3.Models.Product

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_LayoutWatchShop.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Product Image</h4>
            <hr />
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Alternate Text" class="img-fluid" />
            <div>
                <a class="btn btn-danger" asp-controller="Product" asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Product Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Brand.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Style)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Style.Name)
                </dd>
            </dl>
        </div>
    </div>
</div>

