﻿@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutWatchShop.cshtml";
	int numOfQuantity = 1;
}

@model IEnumerable<WatchShopV3.Models.Product>
<section class="featured spad">
	<div class="container">

		<form asp-controller="Product" asp-action="Index">
			<p>
				Name: <input type="text" name="SearchString" />
				<input type="submit" value="Search" />
			</p>
		</form>

		<div class="row featured__filter">
			@foreach (var product in Model)
			{
				<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
					<div class="featured__item">
						<div class="featured__item__pic">
							<ul class="featured__item__pic__hover">
								<img src="@product.ImageUrl" alt="Alternate Text" />
								<li><a href="#"><i class="fa fa-heart"></i></a></li>
								<li><a href="#"><i class="fa fa-retweet"></i></a></li>
								<li><a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@product.Id" asp-route-quantity="@numOfQuantity"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>

						<div class="featured__item__text">

							<h6><a asp-controller="Product" asp-action="Display" asp-route-id="@product.Id">@product.Name</a></h6>
							<h5><a asp-controller="Product" asp-action="Display" asp-route-id="@product.Id">@product.Price</a></h5>

						</div>
					</div>
				</div>

			}
		</div>
	</div>
</section>


