﻿@model WatchShopV3.Models.Category

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="max-height: 100px; overflow-y: auto;">
                <label asp-for="Note" class="control-label"> </label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"> </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-animate" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .btn-animate {
        transition: transform 0.2s ease-in-out; /* Sử dụng transition cho hiệu ứng mềm mại */
    }

        .btn-animate:hover {
            transform: scale(1.1); /* Phóng to nút lên 110% khi di chuột qua */
        }

   
</style>