﻿@model IEnumerable<WatchShopV3.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center">Category Manager</h2>

<form asp-controller="CategoryManager" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="note-column">
                @Html.DisplayNameFor(model => model.Note)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="update-link">Edit</a> |
                    <a asp-action="Display" asp-route-id="@item.Id" class="details-link">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .update-link,
    .details-link,
    .delete-link {
        padding: 5px 10px; /* Thêm khoảng cách xung quanh văn bản */
        border-radius: 4px; /* Làm cho các liên kết trở nên bo tròn */
        transition: background-color 0.2s, color 0.2s; /* Thêm hiệu ứng chuyển động */
    }

    .update-link {
        color: #28a745; /* Màu xanh lá cây cho Edit */
        border: 1px solid #28a745; /* Viền xanh lá cây cho Edit */
    }

    .details-link {
        color: #007bff; /* Màu xanh dương cho Details */
        border: 1px solid #007bff; /* Viền xanh dương cho Details */
    }

    .delete-link {
        color: #dc3545; /* Màu đỏ cho Delete */
        border: 1px solid #dc3545; /* Viền đỏ cho Delete */
    }

        /* Hiệu ứng hover */
        .update-link:hover,
        .details-link:hover,
        .delete-link:hover {
            text-decoration: underline; /* Gạch chân khi di chuột qua */
            background-color: #f8f9fa; /* Màu nền khi di chuột qua */
            font-weight: bold; /* Tô màu đậm khi di chuột qua */
        }
    .note-column {
        max-width: 200px; /* Đặt kích thước tối đa cho cột */
        overflow: hidden; /* Ẩn nội dung tràn ra ngoài */
        text-overflow: ellipsis; /* Hiển thị dấu chấm (...) khi nội dung tràn ra ngoài */
        white-space: nowrap; /* Ngăn cách các từ xuống dòng mới */
    }

</style>