﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutWatchShop.cshtml";
}
<div class="row form-container">
    <div class="col-md-10 register-form">
        <!-- Your form content here -->
       
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                    <div class="form-floating mb-3">
                        <label asp-for="Input.FullName">FullName</label>
                        <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>


                    <div class="form-floating mb-3">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    /* Center the form container */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Set height to fill the viewport */
    }

    /* Style for the form */
    .register-form {
        max-width: 400px; /* Adjust width as needed */
        padding: 20px;
        background-color: #f8f9fa; /* Set background color */
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    }

    /* Style for the external service section */
    .external-service {
        padding: 20px;
    }

    /* Center the external service section */
    .external-service {
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>