﻿@model WatchShopV3.Models.Brand

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-primary btn-animate">Back to List</a>
</div>
<style>
    .btn-animate {
        transition: transform 0.2s ease-in-out; /* Sử dụng transition cho hiệu ứng mềm mại */
    }

        .btn-animate:hover {
            transform: scale(1.1); /* Phóng to nút lên 110% khi di chuột qua */
        }

</style>
